html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #FABD29;
    color: #262D31;
    padding: 15px;
}

h1 {
    font-size: 70px;
    margin-top: 30px;
}

#login-button {   
    padding: 15px;   
    margin: 50px;
    font-size: 30px; 
}

.btn-primary {
background-color: #262D31;
    color: #FABD29;
    border-color: #262D31;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
}
button {
    border-radius: 10px;
}

#login, h1, h2 {
    text-align: center;
}



h2, h3 {
    font-size: 25px;
}
h3 {
    margin-bottom: 20px;
}

#search-form {
    padding: 20px;
}

#playAgain, #fight {
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}
.center{
display: flex; 
justify-content: center;
}
.space {
   padding: 50px;
}
input, .btn-secondary {
    font-size: 15px;
    padding: 10px;
}
img {
    margin: 15px 0;
    width: 185px;
}
span {
    font-weight: 900;
    text-transform: uppercase;
}

.results, #center-btn {
    text-align: center;
}
 