html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #FABD29;
}

h1 {
    font-size: 70px;
    margin-top: 30px;
}

#login-button {   
    padding: 15px;   
    margin: 50px;
    font-size: 30px; 
}

#login-button, #playAgain {
background-color: #262D31;
    color: #FABD29;
    border-color: #262D31;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.4);
}
button {
    border-radius: 10px;
}

#login {
    text-align: center;
}

h1, h2 {
    color: #262D31;
    padding: 15px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

#search-form {
    padding: 20px;
}

#playAgain {
    padding: 10px;
    font-size: 20px;
}
.center{
display: flex; 
justify-content: center;
}
.space {
   padding: 50px;
}
input, .btn-secondary {
    font-size: 15px;
    padding: 10px;
}